# Load extension and create SQLite DB

In [1]:
%load_ext sql
%sql sqlite://

/opt/conda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python3.5/site-packages/sql/magic.py:4: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  from IPython.utils.traitlets import Bool, Int, Unicode

'Connected: None@None'

# Create a Table

In [2]:
%sql CREATE TABLE student (name VARCHAR(40), major VARCHAR(20), gpa NUMERIC(2,2));

Done.

[]

# Insert three rows into the new table

In [3]:
%%sql
DELETE FROM student;
INSERT INTO student VALUES ('Peter','CS', 3.4);
INSERT INTO student VALUES ('Alice','CS', 4.0);
INSERT INTO student VALUES ('Bob', 'Bio', 2.6);

0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Run queries over the table we have created
Now we can use the table `mytest` that we have created. Let us start by returning the full student table:

In [4]:
%sql SELECT * FROM student

Done.

[('Peter', 'CS', 3.4), ('Alice', 'CS', 4), ('Bob', 'Bio', 2.6)]

Students that have a gpa higher than 3.5

In [12]:
%sql SELECT * FROM student WHERE gpa > 3.5

Done.

[('Alice', 'CS', 4)]

Count the number of CS students

In [5]:
%sql SELECT count(*) FROM student WHERE major = 'CS'

Done.

[(2,)]