# Load extension and create SQLite DB

In [2]:
%load_ext sql
%sql sqlite://

# Create a Table

In [3]:
%sql CREATE TABLE student (name VARCHAR(40), major VARCHAR(20), gpa NUMERIC(2,2));

 * sqlite://
Done.

[]

# Insert three rows into the new table

In [4]:
%%sql
DELETE FROM student;
INSERT INTO student VALUES ('Peter','CS', 3.4);
INSERT INTO student VALUES ('Alice','CS', 4.0);
INSERT INTO student VALUES ('Bob', 'Bio', 2.6);

 * sqlite://
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Run queries over the table we have created
Now we can use the table `mytest` that we have created. Let us start by returning the full student table:

In [5]:
%sql SELECT * FROM student

 * sqlite://
Done.

[('Peter', 'CS', 3.4), ('Alice', 'CS', 4), ('Bob', 'Bio', 2.6)]

Students that have a gpa higher than 3.5

In [7]:
%sql SELECT * FROM student WHERE gpa > 3

 * sqlite://
Done.

[('Peter', 'CS', 3.4), ('Alice', 'CS', 4)]

Count the number of CS students

In [8]:
%sql SELECT count(*) FROM student WHERE major = 'CS'

 * sqlite://
Done.

[(2,)]